<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>tab-team</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->




<ion-content>
  <ion-fab  vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button  (click)="onClose()">
      <ion-icon name="close" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal ">
        <app-page-header [title]="'teamPage.pageName' | translate"></app-page-header>

          <ion-list *ngFor="let member of members">
            <app-team-card [member]="member"></app-team-card>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
