ion-fab-button{
  --box-shadow: none;
  border-radius: 9999px;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 2px 8px;
  --background: rgba(255, 255, 255, 0.4);


  ion-icon {
    color: var(--ion-color-dark);
  }
}

