<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>tab-team</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal ">
        <div class="space-big"></div>

        <h1>Unser Team</h1>
        <ion-row class="center-vertical">
          <h1>Mit</h1>
          <img class="icon" src="/assets/imgs/icon.png" alt="">
        </ion-row>

        <ion-list *ngFor="let member of teamMembers">
          <app-team-card [member]="member"></app-team-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
