<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>tab-team</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal ">
        <app-page-header [title]="'teamPage.pageName' | translate"></app-page-header>

          <ion-list *ngFor="let member of members">
            <app-team-card [member]="member"></app-team-card>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
