<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal ">
       <app-page-header title="Aktuelle News"></app-page-header>

        <div *ngIf="loadedNews$">
          <ion-list *ngFor="let news of loadedNews$ | async">
            <app-news-card [news]="news"></app-news-card>
          </ion-list>
        </div>


        <div *ngIf="!loadedNews$">
          <ion-spinner color="primary"></ion-spinner>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
