<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal ">
        <app-page-header [title]="'projectPage.pageName' | translate" [with]="'partnerPage.with' | translate"></app-page-header>
        <div class="vote card-shadow" [@simpleFadeAnimation]="'in'">
          <div class="padding">
            <h3>Deine Stimme zählt!</h3>
            <p>Stimme über die Like Button ab, wie die generierten Spendengelder auf die Partnerprogramme verteilt werden sollen.</p>
          </div>
          <ion-list *ngFor="let project of projects">
            <ion-item lines="none">
<!--              <ion-checkbox slot="start" mode="ios" [ngModel]="project.isLiked" (ngModelChange)="selectProject(project)"></ion-checkbox>-->
              <ion-col>
                <ion-label class="ion-text-wrap ">{{project.title}}</ion-label>
                <div class="progress-wrapper">
                  <ion-progress-bar [value]="project.isLiked ? 1/likedProjectsCount : 0"></ion-progress-bar>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>

        </div>
        <ion-list *ngFor="let project of projects">
            <app-project-card [project]="project" (likeEvent)="changeLikeCount(project)" [@simpleFadeAnimation]="'in'"></app-project-card>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
