<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal" size="12" size-md="10" offset-md="1" size-lg="8" offset-lg="2">
        <app-page-header [title]="'projectPage.pageName' | translate" [with]="'partnerPage.with' | translate"></app-page-header>
        <div class="vote card-shadow" [@simpleFadeAnimation]="'in'">
          <div class="padding">
            <h3>{{'projectPage.voteTitle' | translate}}</h3>
            <p>{{'projectPage.voteDesc' | translate}}</p>
          </div>
<!--          <ion-list *ngFor="let project of projects">
            <ion-item lines="none">
&lt;!&ndash;              <ion-checkbox slot="start" mode="ios" [ngModel]="project.isLiked" (ngModelChange)="selectProject(project)"></ion-checkbox>&ndash;&gt;
              <ion-col>
                <ion-label class="ion-text-wrap ">{{project.title}}</ion-label>
                <div class="progress-wrapper">
                  <ion-progress-bar [value]="project.isLiked ? 1/likedProjectsCount : 0"></ion-progress-bar>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>-->
          <ion-list *ngFor="let project of loadedProjects">
            <ion-item lines="none">
<!--              <ion-checkbox slot="start" mode="ios" [ngModel]="project.isLiked" (ngModelChange)="selectProject(project)"></ion-checkbox>-->
              <ion-col>
                <ion-label class="ion-text-wrap ">{{project.title}}</ion-label>
                <div class="progress-wrapper">
                  <ion-progress-bar [value]="project.likes ? project.likes.length/likeCount : 0"></ion-progress-bar>
                </div>
              </ion-col>
            </ion-item>
          </ion-list>

        </div>
        <ion-list *ngFor="let project of projects">
            <app-project-card [project]="project" (likeEvent)="changeLikeCount(project)" [@simpleFadeAnimation]="'in'"></app-project-card>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
