<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal ">
        <div class="space-big"></div>

        <h1>Hilfsprojekte</h1>
        <ion-row class="center-vertical">
          <h1>Mit</h1>
          <img class="icon" src="/assets/imgs/icon.png" alt="">
        </ion-row>

        <div *ngIf="loadedProjects$">
          <ion-list *ngFor="let project of loadedProjects$ | async">
            <app-project-card [project]="project"></app-project-card>
          </ion-list>
        </div>
        <div *ngIf="!loadedProjects$">
          <ion-spinner color="primary"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
