
<ion-header>
  <ion-toolbar>
        <ion-title>{{"explainPage.pageName" | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onClose()">{{"explainPage.close" | translate}}</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="content-col">
        <h2>{{"explainPage.mainHeadline" | translate}}</h2>

        <p>{{"explainPage.firstStep" | translate}}</p>

        <div class="share" (click)="copyText()">
          <span>{{"explainPage.copyMessage" | translate}}</span>
        </div>
        <ion-row class="below-share" (click)="copyText()">
          <p>{{"explainPage.copyCall" | translate}}</p>
          <span class="material-icons-outlined">copy</span>
        </ion-row>


        <p>{{"explainPage.secondStep" | translate}}</p>
        <p><strong>{{"explainPage.broadcastAndroid" | translate}}</strong></p>
        <p>{{"explainPage.android1" | translate}}</p>
        <p>{{"explainPage.android2" | translate}}</p>
        <p>{{"explainPage.android3" | translate}}</p>
        <p>{{"explainPage.android4" | translate}}</p>
          <p><strong>{{"explainPage.broadcastIos" | translate}}</strong></p>
        <p>{{"explainPage.ios1" | translate}}</p>
        <p>{{"explainPage.ios2" | translate}}</p>
        <p>{{"explainPage.ios3" | translate}}</p>
        <p>{{"explainPage.ios4" | translate}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
