<ion-tabs>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"
        rel="stylesheet"/>

  <ion-tab-bar slot="bottom">

  <ion-tab-button tab="tab-partner">
    <span class="material-icons-outlined">handshake</span>
    <ion-label>Partner</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tab-home">
    <span class="material-icons-outlined">home</span>
    <ion-label>Start</ion-label>
  </ion-tab-button>

    <ion-tab-button tab="tab-projects">
      <span class="material-icons-outlined">savings</span>
      <ion-label>Projekte</ion-label>
    </ion-tab-button>

    <!--    <ion-tab-button tab="tab-team">-->
    <!--      <span class="material-icons-outlined">diversity_1</span>-->
    <!--      <ion-label>{{'teamPage.tabName' | translate}}</ion-label>-->
    <!--    </ion-tab-button>-->

    <!--    <ion-tab-button tab="tab-news">-->
    <!--      <span class="material-icons-outlined">newspaper</span>-->
    <!--      <ion-label>News</ion-label>-->
    <!--    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
