<div class="team-card">
  <ion-row class="main-row">
      <img [src]="member.img" alt="">
    <ion-col size="12" class="content-col">
      <h3>{{member.name}}</h3>
      <p class="subtitle">{{member.subtitle}}</p>
      <p>{{member.description}}</p>
      <ion-row class="link-row">
        <a  *ngIf="member.mail" href="mailto:{{member.mail}}">
          <p>{{"teamPage.teamCardBtnText" | translate}}</p>
<!--          <span class="material-icons-outlined">mail</span>-->
          <ion-icon name="mail-outline"></ion-icon>
        </a>
<!--        <a *ngIf="member.website" href="{{member.website}}">-->
<!--          <span class="material-icons-outlined">public</span>-->
<!--          <p>Webseite</p>-->
<!--        </a>-->
      </ion-row>
    </ion-col>
  </ion-row>

</div>
