.team-card {
  text-align: start;
  border-radius: 40px;
  background-color: white;
  margin: .8rem;
  margin-bottom: 1.2rem;
  padding: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 12px;


  img {
    border-radius: 40px 40px 0 0;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
  }
}

.content-col{
padding: 1rem;
}

h3 {
  font-weight: 600;
  font-family: "Poppins", serif;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  font-family: "Lato", serif;
  //text-align:justify;
  word-break: break-word;
  white-space: pre-line;
  overflow-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-top: 0;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;

  span {
    font-size: 1.5rem !important;
    color: var(--ion-color-primary);
    margin-left: .5rem;
    margin-right: 1rem;
  }

  p {
    margin: 0;
    padding:0;
  }
}


.main-row {
  flex-direction: column;
}

.link-row {
  justify-content: flex-end;
}
