img {
  padding: 3rem;
  padding-bottom: 0;
  padding-top: 2rem;
  width: 50%;
}

ion-row {
  justify-content: center;
  margin: 0 2rem;
  ion-col {
    justify-content: center;
    text-align: center;
  }
}

//h2 {
//  font
//}

p  {
  font-family: 'Poppins';
  font-weight: 600;
}


ion-button {
  --border-radius: 9999px;
  margin-bottom: 3rem;
  margin-top: -1rem;
  padding: 3px 1rem 0;
  height: 3rem;
  box-shadow: none !important;
  --box-shadow: none !important;
}
