<ion-content>

  <ion-row>
    <ion-col>
      <img src="/assets/imgs/icon.png" alt="">
      <p>
        Herzlich willkommen! <br/><br/>

        Es freut uns, dass du jetzt auch ein Teil der Wir zeigen Herz Community bist.<br/><br/>

        Mit unserer App kannst du durch deinen Online Einkauf automatisch Spenden generieren. Hierzu klickst du auf den Reiter ,,Shops“ (unten links). Jetzt siehst du unsere vielen Partnerprogramme. Dort kannst du dann nach deinem gewünschten Shop suchen.<br/><br/>

        Mit einem Klick gelangst du jetzt auf die Webseite oder auf die App des Unternehmens und kannst wie gewohnt dein Einkauf fortsetzen.<br/><br/>

        Hinweis: Es kann sein, dass sich die mobile App nicht immer öffnen lässt und du auf die Webseite des Online Shops geleitet wirst. Hier musst du dich einfach neu anmelden und wie gewohnt fort fahren.<br/><br/>
      </p>
      <ion-button (click)="close()">Lass uns loslegen</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
