<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal page-margin">
        <div class="space-big"></div>
        <img src="/assets/imgs/logo.png" alt="">
        <h4>„Das Gebot der Nächstenliebe geht uns alle an“</h4>
        <div class="space-medium"></div>

        <app-action-button text="Partnerprogramme" (click)="navToPartner()"></app-action-button>
        <p class="link-btn" (click)="openExplainModal()">Wie funktioniert das?</p>

        <div>
          <img class="child-img"src="/assets/imgs/child.png" alt="">
          <div class="tilted-container">

          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
