<ion-content>
  <ion-grid>
    <div class="round-container">
      <div class="upper-container">
        <img src="/assets/imgs/logo_white.png" alt=""/>
        <ion-row>
          <ion-row>
            <h2 data-text="">{{'homePage.monthlyDonation' | translate}}</h2>
            <p>{{'homePage.monthlyDonationText' | translate}}</p>
          </ion-row>
          <div class="translation-box" (click)="switchLanguage()">
            <p>{{"homePage.translationBtn" | translate}}</p>
          </div>
        </ion-row>

      </div>
      <div class="lower-container"></div>
    </div>
    <div class="btn-col">
      <app-action-button [text]="'homePage.partnerBtn' | translate" routerLink="/tabs/tab-partner"></app-action-button>
      <p class="link-btn" (click)="openExplainModal()">{{'homePage.explainBtn' | translate}}</p>
    </div>
    <img class="child-img" src="/assets/imgs/child.png" alt="">

    <div class="round-container-reverse">
      <div class="upper-container-reverse"></div>
      <div class="lower-container-reverse">      </div>
      <div class="on-top">
        <p>{{'homePage.aboutUs' | translate}}</p>
        <p  class="text-list">{{'homePage.aboutUsList' | translate}}</p>
      </div>
    </div>
    <div class="content-container">
      <h4>{{'homePage.ourVisionTitle' | translate}}</h4>
      <p>{{'homePage.ourVision' | translate}}</p>
    </div>

    <div class="img-container">
        <h4>{{'homePage.weAreThereTitle' | translate}}</h4>
        <p>{{'homePage.weAreThere' | translate}}</p>
<!--      <ul>-->
<!--        <li>Positives Markenimage</li>-->
<!--        <li>Employer Brandings</li>-->
<!--        <li>Soziale Entscheidung</li>-->
<!--      </ul>-->
      <app-action-button [text]="'homePage.shareBtn' | translate" class="share-btn" (click)="copyText()"></app-action-button>
    </div>

    <img src="assets/imgs/wir-sind-dabei.jpg" class="logo-2" alt="">

  </ion-grid>
</ion-content>
