<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center-horizontal page-margin">
        <app-page-header [title]="'partnerPage.pageName' | translate"></app-page-header>


<!--        <h4>Jetzt anderen helfen, ohne selbst Geld zu spenden</h4>-->

<!--        <ion-row class="center-vertical">-->
<!--          <p class="link-btn" >Wie funktioniert das?</p>-->
<!--          <span class="material-icons-outlined arrow-icon">arrow_outward</span>-->
<!--        </ion-row>-->

        <div class="space-medium"></div>
        <ion-searchbar  (ionInput)="filterList($event)" [placeholder]="'partnerPage.search' | translate"></ion-searchbar>
        <ion-row class="align-end">
            <ion-item lines="none">
              <ion-select [placeholder]="'partnerPage.filter' | translate" (ionChange)="filterCategories($event)" #selectCategory>
                <ion-list  *ngFor="let option of categories" >

                <ion-select-option [value]="option.name">{{option.name}}</ion-select-option>
                </ion-list>

              </ion-select>
            </ion-item>
          <span *ngIf="filter" class="material-icons-outlined arrow-icon" (click)="onClearCategoryFilter()">clear</span>

        </ion-row>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="!searchTerm && !filter">
          <ion-list *ngFor="let partner of partner">
            <app-partner-card [partner]="partner"></app-partner-card>
          </ion-list>
        </div>

        <div *ngIf="searchTerm || filter">
          <ion-list *ngFor="let partner of filteredPartner">
            <app-partner-card [partner]="partner"></app-partner-card>
          </ion-list>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
