.project-card {
  text-align: start;
  border-radius: 40px;
  background-color: white;
  margin: .8rem;
  margin-bottom: 1.2rem;


  img {
    border-radius: 40px 40px 0 0;
    object-fit: cover;
    max-height: 12.5rem;
    width: 100%;
  }
}

.align-right {
  justify-content: space-between;
}

.small-margin{
  padding: 1rem;
  padding-top: 0;
}

h3 {
  font-weight: 600;
  font-family: "Poppins", serif;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  font-family: "Lato", serif;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.vote-btn {
  --border-radius: 50rem;
  border-radius: 50rem;
  --background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
  height: 3rem;
  width: 3rem;
  text-align: center;
}

ion-icon {
  font-size: 1.5rem !important;
  margin-top:4px;
  color: var(--ion-color-primary)
}
